body {
  background-image: url("../Wiki/img/forsaken bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-height: 50vh;
}
h1 {
  font-size: 60px;
  font-family: "Arial";
  text-align: center;
  color: white;
}
